# Train data sentences.
TRAIN_SAMPELS=1000
# Test data sentences.
TEST_SAMPELS=1000
# SNRs from -24 to 3 dB in 3 dB steps
TRAIN_SNRS="-27:3:3"
TEST_SNRS="-27:3:3"
# Silence to add before and after each utterance in seconds
SIL="[0.5 0.5]"
# Scoring
SCORING='sentence'

